/* .card .selected{
    border : 1px solid black;
} */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
.selected{
    border : 2px solid black;
}
tr th{
    text-align: center;
}
.thumbnail{
    width: 200px;
    overflow: hidden;
    margin: auto;
  }
  .card-title{
    font-size: 15px;
  }
  * {
    font-family: 'Lato', sans-serif !important;
}