/* .card .selected{
    border : 1px solid black;
} */
.selected{
    border : 2px solid black;
}
tr th{
    text-align: center;
}
.thumbnail{
    width: 200px;
    overflow: hidden;
    margin: auto;
  }
  .card-title{
    font-size: 15px;
  }